@import compass/css3

// the pick a box grids
@for $i from 1 through 5
  .grid#{$i}
    padding-bottom: 100%
    position: relative
    @for $j from 1 through $i*$i
      // row and col are 0 indexed
      $row: floor(($j - 1) / $i)
      $col: ($j - 1) % $i
      > div
        width: (100% / $i)
        height: (100% / $i)
        //border: solid 1px black
        position: absolute
      .box#{$j}
        top: (100% / $i) * $row
        left: (100% / $i) * $col
//.flipped
//  +transform(rotatey(-180deg))

// the basic panel
.panel
  +perspective(800px)
  //+transform-style(preserve-3d)
  //+transition(0.5s ease-in-out)
  // padding for perfect square box!
  //position: relative
  // position of boxes
  .front, .back
    position: absolute
    top: 10px
    left: 10px
    right: 10px
    bottom: 10px
    border: 1px solid #ccc

    +transform-style(preserve-3d)
    +backface-visibility(hidden)
    +transition(all 0.5s ease-in-out)
  &.flipped .front, &.flipped .back
    +box-shadow(0 1px 5px rgba(0,0,0,0.9))

  .front
    z-index: 900
    background: #6b7077

    // note about 180 causing an unnatural looking half flip?
    +transform(rotatey(0deg) rotatex(0deg))
  &.flipped .front
    background: #333 // why?
    +box-shadow(0 15px 50px rgba(0,0,0,0.2)) // why?
    +transform(rotatey(180deg))
    z-index: 950
  .back
    z-index: 800
    background: #333

    +transform(rotatey(-179deg) rotatex(0deg))
  &.flipped .back
    z-index: 1000 // on top
    background: #80868d
    +transform(rotatey(0deg))
    