---
  title: Pirate island
---
-content_for :assets do
  = stylesheet_link_tag 'pirate'
  = javascript_include_tag  "pirate"
.pirate-island-container
  .pirate-island
    .pirate-mystery-island
      .pirate-heading
        Mystery&#8239;Island
        %span.pirate-subheading *&#8239;Find&#8239;$250&#8239;of&#8239;Loot
      .status.completed *#&#8239;COMPLETED&#8239;#*
      .status.found Found&nbsp;&nbsp;&nbsp;$35
      .status.togo To&#8239;Go&nbsp;&nbsp;&nbsp;$15
    .pirate-diamond-island
      .pirate-heading
        Diamond&#8239;Island
        %span.pirate-subheading *&#8239;Find&#8239;$150&#8239;of&#8239;Loot
      .status.completed *#&#8239;COMPLETED&#8239;#*
      .status.found Found&nbsp;&nbsp;&nbsp;$35
      .status.togo To&#8239;Go&nbsp;&nbsp;&nbsp;$15
    .pirate-gold-island
      .pirate-heading
        Gold&#8239;Island
        %span.pirate-subheading *&#8239;Find&#8239;$100&#8239;of&#8239;Loot
      .status.completed *#&#8239;COMPLETED&#8239;#*
      .status.found Found&nbsp;&nbsp;&nbsp;$35
      .status.togo To&#8239;Go&nbsp;&nbsp;&nbsp;$15
    .pirate-silver-island
      .pirate-heading
        Silver&#8239;Island
        %span.pirate-subheading *&#8239;Find&#8239;$50&#8239;of&#8239;Loot
      .status.completed *#&#8239;COMPLETED&#8239;#*
      .status.found Found&nbsp;&nbsp;&nbsp;$35
      .status.togo To&#8239;Go&nbsp;&nbsp;&nbsp;$15
    .pirate-antique-island    
      .pirate-heading
        Antique&#8239;Island
        %span.pirate-subheading *&#8239;Find&#8239;$20&#8239;of&#8239;Loot
      .status.completed *#&#8239;COMPLETED&#8239;#*
      .status.found Found&nbsp;&nbsp;&nbsp;$35
      .status.togo To&#8239;Go&nbsp;&nbsp;&nbsp;$15
